.page-login {
    height: calc(100vh - 140px);
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-login .container-login{
    width: 300px;
    max-width: 100%;
}