* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, input, select, button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #96C5A4;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

a:hover {
    color: #62AC8D ;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 50px 50px;
    background-color: #96C5A4;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(#96C5A4, #C0D9C3);
}

.transition {
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.main-container {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.1);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    height: calc(100vh - 100px);
}

/* FORM */

.form .label {
    display: block;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.form .input-group,
.react-datepicker__input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin-bottom: 12px;
}

.form .input-group input,
.react-datepicker__input-container input {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    line-height: 30px;
    background: transparent;
}

.form .input-group .fas {
    color: #BAC2C4;
    padding: 5px 5px 5px 10px;
}

.form .form-error-message p{
    color: red;
    padding: 10px;
    text-align: center;
}

.form .form-success-message p{
    color: green;
    padding: 10px;
    text-align: center;
}

.form .form-footer-links {
    padding: 15px 10px 0;
}

.form .form-footer-links .link {
    display: block;    
    text-align: center;
    margin-bottom: 5px;
}

.form.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.form.form-inline .input-group ,
.form.form-inline .react-datepicker__input-container {
    margin-bottom: 0;
}

/* BUTTON */
.btn {
    border:none;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border-radius: 2px;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-primary {
    color: #FFFFFF;
    background-color: #96C5A4;
}

.btn.btn-primary:hover {
    background-color: #62AC8D ;
}

/* ROWS AND COLUMNS */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 -5px;
}
[class*="col-"] {
    margin: 0 5px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col {
    flex: 0 0 auto;
    max-width: 100%;
    margin: 0 5px;
}

/* TOAST */
.Toastify__toast {
    border-radius: 3px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-size: 13px!important;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15)!important;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15)!important;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15)!important;
}

/* DASHBOARD */
.internal-dashboard .internal-header {
    display: flex;
    padding: 15px;
    background-color: #F7F7F7;
}

.internal-dashboard .internal-header .title {
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #62AC8D;
}

.internal-dashboard .internal-content {
    padding: 25px;
}
.internal-dashboard .internal-content .form{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

/* FLEXBOX */
